<a href="https://colab.research.google.com/github/fernandofeltrin/Python/blob/master/Notebook_Curso_2_0_Fernando_Feltrin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Livro Python do ZERO à Programação Orientada a Objetos - https://www.amazon.com.br/dp/B07P2VJVW5
# Livro Programação Orientada a Objetos com Python - https://www.amazon.com.br/dp/B083ZYRY9C
# Livro Tópicos Avançados em Python - https://www.amazon.com.br/dp/B08FBKBC9H
# Livro Ciência de Dados e Aprendizado de Máquina - https://www.amazon.com.br/dp/B07X1TVLKW
# Livro Inteligência Artificial com Python - Redes Neurais Intuitivas - https://www.amazon.com.br/dp/B087YSVVXW
# Livro Redes Neurais Artificiais - https://www.amazon.com.br/dp/B0881ZYYCJ
# Livro Análise Financeira com Python - https://www.amazon.com.br/dp/B08B6ZX6BB
# Livro Arrays com Python + Numpy - https://www.amazon.com.br/dp/B08BTN6V7Y
# Livro Visão Computacional em Python - https://www.amazon.com.br/dp/B08NTW8TNV

# CURSO PYTHON DO ZERO A PROGRAMAÇÃO ORIENTADA A OBJETOS - UDEMY
# https://www.udemy.com/course/python-do-zero-a-poo/?referralCode=1E35B0F2DA8266558B42

## Sintaxe Básica em Python

In [ ]:
# Sintaxe Básica em Python

# nome_da_variavel = dado/valor/atributo


numero = 20

nome = 'Veronica'

variavel = [21, 'Maria', 19.90]


print(numero)
print(nome)
print(variavel)

In [ ]:
# Sintaxe
# Leitura Léxica
# Indentação

dicionario = {'Nome':'Fernando',
              'Idade':33,
              'Formação':'Eng. da Computação'}

print(dicionario)

In [ ]:
# Estrutura básica de um programa

# Olá Mundo!!! em Java

class MeuPrograma {
    public static void main(String args[]) {
        System.out.println("Olá Mundo!!!");
    }
}



# Olá Mundo!!! em C#

using System; 
namespace MeuPrograma { 
    class OlaMundo { 
	    static void Main(string[] args) {
           Console.WriteLine("Olá Mundo!!!"); 
	       Console.ReadKey(); 
	    } 
    } 
} 



# Olá Mundo!!! em Python

print('Olá Mundo!!!')

In [ ]:
# Linguagens de alto nível vs linguagens de baixo nível

# Olá mundo em Assembly

section     .text
global      _start

_start:

    mov     edx,len
    mov     ecx,msg
    mov     ebx,1
    mov     eax,4
    int     0x80

    mov     eax,1
    int     0x80

section     .data

msg     db  'Olá, Mundo!!!',0xa 
len     equ $ - msg


# Olá Mundo!!! em Python

print('Olá Mundo!!!')

## Tipos de Dados

In [ ]:
# INT - Número real inteiro, sem casas decimais.

num1 = 12

num2 = int(15)

print(num1)
print(type(num2))

In [ ]:
# FLOAT - Número de ponto flutuante / com casas decimais.

num3 = 12.8

num4 = float(19.0)

print(type(num3))
print(type(num4))

In [ ]:
# STRING - Texto composto de qualquer caractere alfanumérico.

palavra1 = 'palavra'


palavra2 = "marca d'água"

frase1 = 'Uma frase qualquer'

frase3 = 'Ela tinha 8 anos'

frase3 = str('Outra frase qualquer')

print(palavra2)
print(type(frase3))

In [ ]:
# TUPLA - Conjunto de elementos imutável.

tupla = ('Ana', 'Fernando', 3, 19.90)

print(tupla)

In [ ]:
# LIST - Conjunto de elementos indexados e mutáveis.

lista = [2, 'Pedro', 15.9]

lista2 = list([1, 'Maria', 19.99])

print(lista)
print(lista2)

In [ ]:
# DICT - Dicionários.

dicionario = {'Nome':'Fernando', 'Idade':32}

print(dicionario)
print(type(dicionario))

In [ ]:
# BOOL - Booleano 

condicao1 = True

print(condicao1)
print(type(condicao1))

##Comentários

In [ ]:
# Comentário simples de até uma linha

'''Comentário onde não há limite de linhas,
   podendo ser usado para descrever blocos
   de código mais detalhadamente'''

In [ ]:
# Comentando uma variável para desabilitar a mesma

usuario1 = 'Fernando'  # Legível pelo interpretador

#usuario1 = 'Fernando' # Ignorado pelo interpretador

##Variáveis

In [ ]:
# Tipos de Variáveis

var_int = 12
# Número inteiro

var_float = 15.3
# Número com casas decimais

var_string = 'Conjunto de caracteres alfanuméricos'
# Incluindo símbolos e caracteres especiais

var_lista = [1, 2, 'Paulo', 'Maria', True]
# Lista de dados/valores

var_dicionario = {'nome':'Fernando', 'idade':31}
# Conjunto de dados:valores

var_tupla = ('Ana', 'Fernando', 3)
# Lista de dados/valores porém imutável

var_bool = 1
# Booleano / Binário (0 ou 1)

var_comentario = """Um comentário atribuído a uma
                         variável deixa de ser apenas
                         um comentário, vira um texto
                         que pode ser incorporado ao
                         código..."""

In [ ]:
# Declarando uma variável quanto ao seu tipo

ano_nasc = 1987
ano_nasc2 = '1987'

ano_nasc = int(1987)
ano_nasc2 = str(1987)


print(ano_nasc)
print(type(ano_nasc))

print(ano_nasc2)
print(type(ano_nasc2))

In [ ]:
# Declarando múltiplas variáveis por justaposição

nome, idade, sexo = 'Maria', 32, 'F'

'''
Mesmo que:
nome = 'Maria'
idade = 32
sexo = 'F'
'''

print(nome)
print(idade)
print(sexo)

print(nome, idade, sexo)

In [ ]:
# Declarando múltiplas variáveis de mesmo tipo e dado/valor

num2 = x = a1 = 10

'''
Mesmo que:
num2 = 10
x = 10
a1 = 10
'''

print(num2)
print(x)
print(a1)

In [ ]:
# Operações entre variáveis

a = 10
b = 5.2

print(a + b)   # Soma simples

In [ ]:
# Interações entre variáveis

msg = 'Olá '
pessoa = 'Carlos'

print(msg + pessoa)   # Concatenação

In [ ]:
# Sintaxe não permitida / não recomendada

'''
Formas de declarar uma variável que podem gerar erros de interpretação

Nome              Nome de variável iniciando em letra maiúscula
NOME              Nome de variável escrita totalmente em letras maiúsculas
8dados            Nome de variável iniciando com números
_numero           Nome de variável iniciando com caractere especial
minha variavel    Nome de variável com espaços
número = 12345    Nome de variável contendo acentos
(variavel2)       Nome de variável encapsulado em chaves, parênteses ou colchetes

Sintaxe usual permitida

nome
nome2
nome_de_variavel
'''

In [ ]:
# Palavras reservadas ao sistema

'''
Palavras que não podem ser usadas como nome de uma variável

and        del        from        not        while
as         elif       global      or         with
assert     else       if          pass       yield
break      except     import      print
class      exec       in          raise
continue   finally    is          return
def        for        lambda      try
'''

##Funções Básicas

Funções de Entrada e de Saída

**Função print( )**

In [ ]:
# Função de saída que exibe em tela ou em terminal algo para o usuário

print('Seja Bem-Vindo!!!')

In [ ]:
# Exibindo em tela o conteúdo de uma variável

nome = 'Fernando'

print('Fernando')
print(nome)

In [ ]:
# Realizando operações aritméticas dentro da função print( )

print(15 + 4)
print(15 - 4)
print(15 * 4)
print(15 / 4)

In [ ]:
# Realizando operações entre dados/valores declarados e dados/valores atribuídos

numero3 = 30

print('O resultado da soma é: ', numero3 + 15)

In [ ]:
# Realizando operações lógicas dentro da função print( )

numero = 9

print(numero > 3)
print(numero < 10)
print(numero == 11)
print(numero >= 12)

In [ ]:
# Usando fStrings e máscaras de substituição dentro da função print( )

nome = 'Fernando'

print(f'Seja muito bem-vindo {nome}!!!')

In [ ]:
# Usando operadores por meio de fStrings e suas máscaras de substituição

camisa = 19.90
calca = 39.90

print(f'A soma dos produtos do carrinho é: {camisa + calca}')

In [ ]:
# Sintaxe antiga vs atual moderna

nome = 'Maria'

# Sintaxe funcional básica  //  Defasada
print('Bem-vindo', nome,'!!!')

# Sintaxe funcional  //  Defasada
print('Bem-vindo' + ' ' + nome + ' ' '!!!')

# Sintaxe antiga  //  Defasada
print('Bem-vindo %s !!!'%nome) 

# Sintaxe usual  //  Defasada
print('Bem-vindo {} !!!'.format(nome)) 

# Sintaxe moderna atual
print(f'Bem-vindo {nome} !!!')

# Apesar da evolução da linguagem, é perfeitamente possível usar da sintaxe antiga
# de acordo com sua preferência.

**Função input(  )**

In [ ]:
# Função de entrada, interage com o usuário fazendo com que o mesmo insira dados
# Esta função por sua vez deve ser associada a uma variável
# A mesma só termina dua função no momento que o usuário aperta o botão ENTER

nome = input('Digite o seu nome: ')

print(nome)

In [ ]:
nome = input('Digite o seu nome: ')

print(f'Bem-vindo {nome} !!!')

##Operadores

Operadores Aritméticos

In [ ]:
# Soma

print(5 + 7)

In [ ]:
# Subtração

print(12 - 3)

In [ ]:
# Multiplicação

print(5 * 7)

In [ ]:
# Divisão

print(120 / 6)

In [ ]:
# Mais de uma operação simples

print(5 + 2 * 7)

In [ ]:
# Operação composta

print((5 + 2) * 7)
# Primeiro será realizada a operação dentro dos parênteses, posteriormente o resto.

In [ ]:
# Potenciação

print(3 ** 5) # 3 elevado a 5ª potência

In [ ]:
# Divisão exata

print(9.4 // 3)

In [ ]:
# Módulo/Resto de uma divisão

print(10 % 3)

Operadores de Atribuição

In [ ]:
# Atribuindo um dado ou valor a uma variável

nome = 'Fernando'
idade = 33

In [ ]:
# Atribuição aditiva

valor = 4

valor = valor + 5

print(valor)

In [ ]:
# Atribuição aditiva (método reduzido)

valor = 4

valor += 5

'''
Mesmo que:
valor = valor + 5
'''

print(valor)

In [ ]:
# Atribuição subtrativa

valor = 4

valor -= 3

'''
Mesmo que:
valor = valor - 3
'''

print(valor)

In [ ]:
# Atribuição multiplicativa

valor = 4

valor *= 3

'''
Mesmo que:
valor = valor * 3
'''

print(valor)

In [ ]:
# Atribuição divisiva

valor = 12

valor /= 2

'''
Mesmo que:
valor = valor / 2
'''

print(valor)

In [ ]:
# Módulo de (ou resto da divisão de)

valor = 12

valor %= 2

'''
Mesmo que:
valor = valor % 4
'''

print(valor)

In [ ]:
# Divisão inteira

valor = 512

valor //= 256

'''
Mesmo que:
valor = valor // 256
'''

print(valor)

In [ ]:
# Exponenciação

valor = 4

valor **= 8

'''
Mesmo que:
valor = valor ** 8
ou
valor = 4 * 4 * 4 * 4 * 4 * 4 * 4 * 4
'''

print(valor)

In [ ]:
# Arredondando valores de casas decimais

equacao = ((50 + 25) * 7.2) / 3.8

print(f'O resultado bruto da equação é: {equacao}')

print(f'O resultado arredondado da equação é: {equacao:.2f}')
# :.2f define quantas casas decimais serão exibidas após a vírgula

print(f'O resultado arredondado da equação é: {round(equacao, 2)}')
# Função round() parametrizada com a expressão e em seguida com o número de casas após a vírgula

O resultado bruto da equação é: 142.10526315789474
O resultado arredondado da equação é: 142.11
O resultado arredondado da equação é: 142.11

Operadores Lógicos

In [ ]:
# Igualdade

print(5 == 6)
print(12 == 12)

In [ ]:
# Diferença

print(7 != 3)

In [ ]:
# Operadores lógicos compostos
# Apenas uma proposição precisa ser verdadeira para o retorno ser True

print(7 != 3 or 2 > 3)

True

In [ ]:
# Operadores lógicos compostos
# Todas as condições precisam ser verdadeiras para o retorno ser True

print(7 != 3 and 2 > 3)

In [ ]:
# Outras expressões dependem de qual contexto serão aplicadas

num1 = 4
num2 = 9
num3 = 9

print(num1 == num2)
print(num1 is num2)

print(num2 is 9)
print(num2 is num3)

Operadores de Membro

In [ ]:
# Verifica se um elemento é membro daquele tipo de dado

lista = [1, 2, 3, 'Ana', 'Maria']

print(2 in lista)

In [ ]:
# Verifica se um elemento não faz parte daquele tipo de dado

lista = [1, 2, 3, 'Ana', 'Maria'] 

print('Maria' not in lista)

Operadores Relacionais

In [ ]:
# Maior que

idade = 3

print(idade > 4)
# 3 é maior que 4?

In [ ]:
# Igual ou maior que

num1 = 7

print(num1 >= 7)  
# 7 é maior ou igual a 3?

In [ ]:
# Operações entre valores atribuídos a variáveis

x = 2
z = 5

print(x > z)
# O valor de x é maior que o valor de z?

In [ ]:
# Menor ou igual a

y = 7
z = 5

print(z <= y)
# O valor de z é igual ou menor que o valor de y?

In [ ]:
# Duas condições lógicas

x = 2
y = 7

print(x is 2 and y != x)
# O valor de x é 2? E o valor de y é diferente do valor de x?

In [ ]:
# Operadores em estruturas condicionais

idade = 21

if (idade > 18):
        print('Idade adulta.')

In [ ]:
num1 = 2
num2 = 1

if num1 > num2:
    print('2 é maior que 1')

Operadores de Identidade

In [ ]:
# O valor de uma variável é compatível com outra

aluguel = 250
energia = 250
agua = 65

print(aluguel is energia)
# O valor de aluguel é o mesmo valor de energia?

print(aluguel is agua)
# O valor de aluguel é o mesmo valor de agua?

##Estruturas Condicionais

In [ ]:
# if, elif, else
# Estrutura Condicional Simples

nome = input('Digite o seu nome:')

if nome == 'Fernando':
  print('Bem vindo de volta Fernando!!!')

print(f'Você é novo(a) aqui, olá {nome}!!!')

# se a condição for atingida, o bloco dela é executado, caso contrario é simplesmente ignorado

In [ ]:
# Estrutura Condicional com argumento lógico

num = 51

if num < 50:
  print('Menor que 50')
else:
  print('Maior que 50')

In [ ]:
# Estrutura Condicional Composta

nome = input('Digite o seu nome:')

if nome == 'Fernando':
  print('Bem vindo de volta Fernando!!!')
else:
  print('Você não é Fernando...')

print(f'Você é novo(a) aqui, olá {nome}!!!')

In [ ]:
# Estruturas Condicionais Aninhadas (quando se tem mais de duas possibilidades)

num1 = float(input('Digite um número: '))

if num1 <= 50:
  print('Menor que 50')
elif num1 > 50 and num1 < 100:
  print('Maior que 50')
else:
  print('Número Inválido')

# Se o valor de num1 for igual ou maior que 50, exibe a respectiva mensagem
# Caso a primeira condição não for verdadeira, é verificado se o valor de num1
# é maior ou igual a 50. Caso nenhuma condição seja verdadeira, é exibida a
# mensagem em else. Quando uma condição for verdadeira, nenhuma das seguintes
# será executada.

Digite um número: 120
Número Inválido

In [ ]:
# 1 condição sendo verdadeira já encerra o processo

nome1 = 'Fernando'
nome2 = 'Maria'

if nome1 == 'Fernando':
  print('Bem-vindo Fernando!!!')
#if nome2 == 'Maria':
elif nome2 == 'Maria':
  print('Bem-vinda Maria!!!')
else:
  print('Erro: Nome Desconhecido.')

# elif irá executar somente a primeira condição e encerrar o processo se ela
# for verdadeira. elif irá imprimir somente o primeiro print() substituir elif 
# por if irá considerar mais de uma condição como verdadeira. if irá imprimir 
# o primeiro e o segundo print por ambos serem verdadeiros.

In [ ]:
# 2 ou mais condições sendo verdadeiras

num1 = 12
num2 = 44
nome1 = 'Fernando'
nome2 = 'Maria'

if num1 >= 10 and nome1 == 'Fernando':
  print('Número maior que 10 e o usuário é Fernando')
if num1 <= 10 and nome1 == 'Fernando':
  print('Número menor que 10 e o usuário é Fernando')
if num1 == num2 and nome2 == 'Maria':
  print('Número 1 e número 2 são iguais, assim como o usuário é Maria')
if num1 != num2 and nome2 == 'Maria':
  print('Número 1 e número 2 são diferentes, assim como o usuário é Maria')

# Operador and exige que as duas condições sejam verdadeiras (uma condição e outra).

In [ ]:
# Operações dentro de estruturas condicionais simples

num1 = 2
num2 = 15


if (num1 + num2) > 20:
    print('O resultado da soma é MAIOR do que 20')
elif (num1 + num2) ==20:
    print('O resultado da soma é IGUAL a 20')
else:
    print('O resultado da soma é MENOR do que 20')

O resultado da soma é MENOR do que 20

In [ ]:
# Estruturas condicionais com interpolação e máscaras de substituição

nomes = ['Fernando', 'Maria', 'Carlos']
login = input('Digite o seu nome: ')

if login in nomes:
  print(f'Bem-vindo(a) {login}')
else:
  print('Usuário não cadastrado.')

In [ ]:
# Operações dentro de estruturas condicionais compostas

num1 = 15
num2 = 40
num3 = 2
soma = num1 + num2 + num3

if (num1 + num2) >= 0:
  print('O número é positivo')
if (num1 + num2) > 50 and soma < 100:
  print('O número é maior que 50 e menor que 100')

In [ ]:
# Estruturas Condicionais com Validadores Simples (em string)

nome = input('Digite o seu nome: ')

if nome == 'Fernando':
  print('Olá Fernando, você é o administraor do sistema!!!')
elif nome in 'Ana Bárbara Carlos José Maria Paulo Tatiana':
  print(f'Bem vindo(a) {nome}, você é um(a) usuário(a) registrado no sistema.')
else:
  print('Olá, você não está logado no sistema, suas permissões são restritas.')

In [ ]:
# Mesmo exemplo que o anterior, mas diferenciando gêneros

nome = input('Digite o seu nome: ')

if nome == 'Fernando':
  print('Olá Fernando, você é o administraor do sistema!!!')
elif nome in 'Ana Bárbara Maria Tatiana':
  print(f'Bem vinda {nome}, você é uma usuária registrada no sistema.')
elif nome in 'Carlos José Paulo':
  print(f'Bem vindo {nome}, você é um usuário registrado no sistema.')
else:
  print('Olá, você não está logado no sistema, suas permissões são restritas.')

In [ ]:
# Mesmo exemplo anterior, aprimorado

nome = input('Digite o seu nome: ')

funcionarios_homens = ['Carlos', 'José', 'Paulo']
funcionarias_mulheres = ['Ana', 'Bárbara', 'Maria', 'Tatiana']

if nome == 'Fernando':
  print('Olá Fernando, você é o administrador do sistema!!!')
elif nome in funcionarias_mulheres:
  print(f'Bem vinda {nome}, você é uma usuária registrada no sistema.')
elif nome in funcionarios_homens:
  print(f'Bem vindo {nome}, você é um usuário registrado no sistema.')
else:
  print('Olá, você não está logado no sistema, suas permissões são restritas.')

In [ ]:
# Estrutura condicional composta com or (ou) e and (e)

veiculo1 = 'Gol'
veiculo2 = 'Corsa'
veiculo3 = 'Onibus'
cor1 = 'Branco'
cor2 = 'Vermelho'

if veiculo1 == 'Gol' or veiculo2 == 'Celta':
  print('Carro')
if veiculo1 == 'Gol' and cor1 == 'Branco':
  print('Gol Branco')
if veiculo1 == 'Onibus' and cor2 == 'Vermelho':
  print('Onibus Vermelho')

# Condição em or apenas uma das condicionais precisa ser verdadeira.
# Condicão em and as duas condicionais precisam serem verdadeiras.

## Estruturas de Repetição

**While**

In [ ]:
# Enquanto determinada condição for verdadeira, o processo se repete

x = 0
while x <= 5:
  print(x)
  x = x + 1

In [ ]:
# Enquanto o usuário não digitar a palavra específica o código não é executado

validador = input('Digite "Brasil" para continuar:')

while validador != 'Brasil':
    print('Palavra-chave não confere, digite novamente:')
    validador = input('Digite "Brasil" para continuar:')

    if validador == 'Brasil':
        print('Agora você digitou Brasil corretamente.')

In [ ]:
# Estruturas condicionais dentro de laços de repetição

num = 0
total = 10

while num <= 10:
  print(num)
  num += 1
  if num == 5:
    print('50% computado')
  if num == 10:
    print('100%, processo encerrado')

In [ ]:
# Reescrevendo o exemplo de palavra-chave específica, aprimorado com while True

while True:
    validador = input('Digite "Brasil" para continuar:')
    
    if validador == 'Brasil':
        print('Você digitou Brasil corretamente!!!')
        break
    else:
        print('Palavra-chave não confere, digite novamente:')

Digite "Brasil" para continuar:ubre
Palavra-chave não confere, digite novamente:
Digite "Brasil" para continuar:Brasil
Você digitou Brasil corretamente!!!

**For**

In [ ]:
# Laço de repetição simples

compras = ['Arroz', 'Feijão', 'Massa', 'Carne', 'Pão']

for i in compras:
  print(i)

In [ ]:
# Laço de repetição que percorre cada elemento de uma string

nome = 'Alberto'

for i in nome:
  print(i)

In [ ]:
# Laço de repetição dentro de um intervalo predefinido

for i in range(0, 10):
  print(i)

In [ ]:
# Laço de repetição que atualiza valor de variável

vendas = [1000, 459, 911, 200, 838, 50]

total = 0

for i in vendas:
  total += i
print(total)

In [ ]:
# Laço de repetição que separa elementos de uma lista

compras = [['Arroz', 'feijão'], ['Carne', 'Frango', 'Peixe'], ['Leite']]

for i in compras:
  print(i)

In [ ]:
# Laço de repetição que separa elementos de um dicionário

cores = {'verde': 'green', 'azul': 'blue', 'vermelho': 'red'}

for i in cores:
  print(i, ':', cores[i])

In [ ]:
# Laço for contando de 2 em 2 elementos

for i in range(0, 10, 2):
  print(i)

In [ ]:
# Contagem Regressiva via laço for

for i in range(10, 0, -1): # terceiro parâmetro estipula que o laço será feito do fim para o começo
  print(i)

In [ ]:
# Laço for que realiza contagem com base em número digitado pelo usuário

num = int(input('Digite o número limite: '))

for i in range(0, num+1):
  print(i)

In [ ]:
# Laço de repetição com múltiplos parâmetros de múltiplas variáveis

repetir = 's'
fatura = []
total = 0

while repetir == 's':
  produto = input('Digite o nome do produto: ')
  preco = float(input('Digite o preço: '))
  fatura.append([produto, preco])
  total += preco
  repetir = input('Cadastrar mais algum item? (S ou N)').lower()

for i in fatura:
  print(i[0], ':', i[1])
  
print('O Total da fatura é: ', total)

In [ ]:
# Usando de alternativas quando o laço for não for eficiente

# Código convencional - percorrendo os elementos de uma string e exibindo-os junto ao seu índice
nome = 'Fernando'
n_indice = 0

for n_indice in range(len(nome)):
  print(n_indice, nome[n_indice])

# Código otimizado via função enumerate( )

for n_indice, valor in enumerate(nome):
  print(n_indice, valor)

##Strings

In [ ]:
# Sintaxe básica

nome = 'atributo em formato alfanumérico'

In [ ]:
# Contando quantos caracteres compõe uma string

frase1 = 'Porto Alegre é uma cidade Brasileira.'

print(len(frase1))

37

In [ ]:
# Contar quantos caracteres compõe uma string desconsiderando os espaços

frase1 = str('Porto Alegre é uma cidade Brasileira.')

print(len(frase1))
print(len(frase1) - frase1.count(' '))

37
32
6

In [ ]:
# Substituindo elementos de uma string

frase1 = 'Porto Alegre é uma cidade Brasileira.'
frase1 = frase1.replace('Porto Alegre', 'Curitiba')

print(frase1)

In [ ]:
# Contando quantos de um tipo específico de caractere estão na string

frase1 = 'Porto Alegre é uma cidade Brasileira.'

print(frase1.count('a'))

In [ ]:
# Exibindo a posição do índice de um determinado elemento da string

frase1 = 'Porto Alegre é uma cidade Brasileira.'

print(frase1.find('é'))

In [ ]:
# Realizando a leitura de um caractere pelo seu índice

frase1 = 'Porto Alegre é uma cidade Brasileira.'

print(frase1[16])

In [ ]:
# Desmembrando uma string, separando cada palavra da frase

frase1 = 'Porto Alegre é uma cidade Brasileira.'

print(frase1.split())

# split() sem parâmetros considerará os espaços entre as palavras, caso
# queira um delimitador diferente é necessário definir via parâmetro, por exemplo
# split(';'), dessa forma, apenas onde houver ; haverá a separação das strings.

In [ ]:
# Pegando dados de uma string especificando um intervalo de seu índice

frase1 = 'Porto Alegre é uma cidade Brasileira.'

print(frase1[26:37]) # intervalo específico
print(frase1[0:5]) # do início até uma posição i
print(frase1[-9]) # de trás para frente

In [ ]:
# Concatenando strings por meio de variáveis

mensagem = 'Seja bem-vinda '
usuario = 'Ana Clara'

base = mensagem + usuario

print(base)

In [ ]:
# Concatenando diferentes tipos de dados em uma string

nome = 'Ana Clara'
idade = 12

print(f'{nome} tem {idade} anos')

aviso = 'Atenção, geradores entrarão em manutenção às: ' + str(22) + ' horas!'

print(aviso)

In [ ]:
# Operadores lógicos em uma string

aviso = 'Não é permitida a entrada de menores de 18 anos'

print(aviso)

print('anos' in aviso)

print('gestante' not in aviso)

In [ ]:
# Letras maiúsculas ou minúsculas em uma string

alerta = 'Risco de Morte'

print(alerta.upper())

print(alerta.lower())

In [ ]:
# Convertendo outro tipo de dado para string

num1 = 5623
num2 = str(num1)

print(type(num1))
print(type(num2))

In [ ]:
# Removendo espaços no início e no fim de uma string

frase1 = '         Olá, você é o visitante nº 1000 '

print(frase1)
print(frase1.strip())

In [ ]:
# Convertendo todas iniciais das palavras para maiúsculo, como em um título

tema = 'O diagnóstico por imagem como ferramenta para detecção de câncer'

tema = tema.title()

print(tema)

In [ ]:
# Verificando se uma string é composta por letras e números

print('aa44'.isalnum()) # Qualquer caractere alfanumérico

print('aa44'.isalpha()) # Apenas letras

print('aa44'.isdigit()) # Apenas números

In [ ]:
# Adicionando espaços antes e depois de uma string

frase1 = 'Alerta, Risco de Morte!!!'
frase1 = frase1.ljust(50)

print(frase1)

frase2 = 'Alerta, Risco de Morte!!!'
frase2 = frase2.rjust(50)

print(frase2)

frase3 = 'Alerta, Risco de Morte!!!'
frase3 = frase3.center(50)

print(frase3)

##Listas

In [ ]:
# Criando uma lista simples

lista1 = ['Ana Clara', 'Carlos', 'Maria', 'Michele', 'Fernando', 1987]

print(lista1)

In [ ]:
# Descobrindo o elemento de uma lista através de seu número de índice

lista1 = ['Ana Clara', 'Carlos', 'Maria', 'Michele', 'Fernando', 1987]

print(lista1[3])

In [ ]:
# Descobrindo o número de índice de um determinado elemento

lista1 = ['Ana Clara', 'Carlos', 'Maria', 'Michele', 'Fernando', 1987]

print(lista1.index('Michele'))

In [ ]:
# Descobrindo o número de elementos de uma lista

lista1 = ['Ana Clara', 'Carlos', 'Maria', 'Michele', 'Fernando', 1987]

print(len(lista1))

In [ ]:
# Adicionando um novo elemento a lista

lista1 = ['Ana Clara', 'Carlos', 'Maria', 'Michele', 'Fernando', 1987]

lista1.append('Paulo')

print(lista1)

In [ ]:
# Adicionando um novo elemento na lista em uma posição específica

lista1 = ['Ana Clara', 'Carlos', 'Maria', 'Michele', 'Fernando', 1987]

lista1[2] = 'José'

print(lista1)

In [ ]:
# Adicionando um novo elemento na lista em uma posição específica via função insert()

lista1 = ['Ana Clara', 'Carlos', 'Maria', 'Michele', 'Fernando', 1987]

lista1.insert(2, 'José')

print(lista1)

In [ ]:
# Removendo um elemento de uma lista pelo seu número de índice

lista1 = ['Ana Clara', 'Carlos', 'Maria', 'Michele', 'Fernando', 1987]

lista1.remove(lista1[5])

print(lista1)

['Ana Clara', 'Carlos', 'Maria', 'Michele', 'Fernando']

In [ ]:
# Listas dentro de listas

cadastro = [[1, 2, 3, 4], ['Ana', 'Maria', 'Paulo', 'Roberto']]

print(cadastro)

##Conjuntos Numéricos

In [ ]:
# Criando um conjunto numérico (set) em Python

conjunto1 = {5, 10, 15, 20}

print(type(conjunto1))

In [ ]:
# Operações entre conjuntos

cj1 = {1, 2, 3, 4, 5}
cj2 = {1, 3, 5, 7, 9}

print(cj2 - cj1)

In [ ]:
# União de conjuntos numéricos

conjunto1 = {5, 10, 15, 20, 25}
conjunto2 = {1, 2, 3, 4, 5}

uniao = conjunto1.union(conjunto2)

print(uniao)

# Os dados que forem comum aos dois conjuntos não serão duplicados.

In [ ]:
# Interseção de dois conjuntos

conjunto1 = {5, 10, 15, 20, 25}
conjunto2 = {1, 2, 3, 4, 5}

uniao = conjunto1.intersection(conjunto2)
#uniao = conjunto1.update(conjunto2)

print(uniao)

In [ ]:
# Operadores lógicos em conjuntos numéricos

conjunto1 = {5, 10, 15, 20, 25}
conjunto2 = {1, 2, 3, 4, 5}
uniao = conjunto1.union(conjunto2)

print(uniao == conjunto1)
print(uniao >= conjunto2)

In [ ]:
# Diferença entre conjuntos

c1 = {1, 2, 3, 4, 5} - {1, 2}

print(c1)

In [ ]:
# Diferença entre conjuntos associados a variáveis

c1 = {1, 2, 3, 4, 5, 6, 7, 8, 9}
c2 = {1, 3, 5, 7, 9}

print(c1 - c2)

## Pilhas

In [ ]:
sequencia = [11, 22, 33, 444]

pilha = []

for elemento in sequencia:
    pilha.append(elemento)


pilha.append(555)


while len(pilha) > 0:
    print(pilha)

    topo = pilha.pop()

    print(f'Objeto do topo da pilha: {topo}')

##Interpolação

In [ ]:
# Uso de máscaras de substituição

nome = 'Maria'
exp = 33

print(f'Olá {nome}, queremos te parabenizar por seus {exp} anos em nossa empresa.')

In [ ]:
# Operações dentro de máscaras de substituição

nome = 'Maria'
idade = 30

print(f'{nome} tem 3 vezes minha idade, ela tem {3 * idade} anos!!!')

## Dicionários

In [ ]:
# Sintaxe básica

dicionario = {'chave': 'valor'}

print(dicionario)

In [ ]:
# Adicionando novos elementos ao dicionário

dicionario1 = {'Nome1':'Paulo'}

print(dicionario1)

dicionario1['Nome2'] = 'Veronica'

print(dicionario1)

In [ ]:
# Alterando o valor de uma chave do dicionário

dicionario1 = {'Nome1': 'Ana',
               'Nome2': 'Carla',
               'Nome3': 'Maria'}
               
print(dicionario1)

dicionario1['Nome2'] = 'Bárbara'

print(dicionario1)

In [ ]:
# Acessando um elemento do dicionário

dicionario1 = {'Nome':'Fernando',
               'Idade':32,
               'Sexo':'Masculino',
               'Nacionalidade':'Brasileiro'}

print(dicionario1['Nome'])
print(dicionario1['Nacionalidade'])

In [ ]:
# Usando o construtor de dicionários do Python

dicionario2 = dict(chave1 = 'valor da chave1',
                   chave2 = 'valor da chave 2')

print(dicionario2)
print(type(dicionario2))

In [ ]:
# Consultando apenas as chaves de um dicionário

dicionario2 = dict(chave1 = 'valor da chave1',
                   chave2 = 'valor da chave 2')

dicionario2.keys()

In [ ]:
# Consultando apenas os valores de um dicionário

dicionario2 = dict(chave1 = 'valor da chave1',
                   chave2 = 'valor da chave 2')

dicionario2.values()

In [ ]:
# Verificando se uma chave ou valor consta em um dicionário

# Pesquisando pela chave, obtendo valor
d3 = {'1':'Ana', '2':'Maria', '3':'Paulo', '4':'Marcos'}

print(d3.get('5'))
print(d3.get('2'))

'''Mesmo que:
print('3' in d3)'''

# Pesquisando se o dado/valor consta em uma chave
print('2' in d3.keys())

# Pesquisando se o dado/valor consta em um valor
print('Ana' in d3.values())

# Pesquisando se o dado/valor de um valor de dicionário é o dado/valor que se espera ser
print(d3['2'] == 'Maria')   # O valor da chave '2' é 'Maria' ?

In [ ]:
# Atualizando um elemento do dicionário

d4 = {'1':'A', '2':'B', '3':'C', '4':'D'}

print(d4)

d4.update({'2':'E'})

'''Mesmo que:
d4['3'] = 'F'
print(d4)'''

print(d4)

In [ ]:
# Removendo um elemento do dicionário

d4 = {'1':'A', '2':'B', '3':'C', '4':'D'}

print(d4)

del d4['4']

print(d4)

In [ ]:
# Pesquisando o tamanho de um dicionário / de quantos elementos ele é composto

d4 = {'1':'A', '2':'B', '3':'C', '4':'D', '5':'E', '6':'F'}

print(len(d4))

In [ ]:
# Imprimindo só chaves e só valores

d4 = {'1':'A', '2':'B', '3':'C', '4':'D', '5':'E', '6':'F'}

print(d4.keys())
print(d4.values())

In [ ]:
# Lendo as chaves ou valores por meio do laço for

d4 = {'1':'A', '2':'B', '3':'C'}
for i in d4.keys():   # somente as chaves
  print('Chaves:', i)
  
for j in d4.values():  # somente os valores
  print('Valores:', j)
  
for l in d4.items():   # chaves e valores
  print('Chaves : Valores =', l)
  
for m in d4.items():
  print('Chaves:',m[0],' - ','Valores:',m[1])
  
for n, o in d4.items():   # 2 variáveis temporárias n e o, o mesmo que desempacotamento de elementos
  print('Chaves:',n,' - ','Valores:',o)
  print(f'Chaves: {n}, Valores: {o}')   # trazendo para a sintaxe atual f'Strings

In [ ]:
# Listas como valores de uma chave do dicionário

dict = {'almox':['Folha de Oficio', 'Caneta', 'Grampeador'],
        'cozinha':['Café', 'Açúcar']}

print(dict['almox'][0])
print(dict['cozinha'][1])

In [ ]:
# Transformando chaves ou valores de um dicionário em tupla para fácil indexação

dicionario1 = {'Nome':'Fernando', 'Idade':32, 'Sexo':'Masculino', 'Nacionalidade':'Brasileiro'}

print(dicionario1.keys())

dict_chaves = tuple(dicionario1.keys())

print(dict_chaves)
print(dict_chaves[3])

In [ ]:
# Dicionários dentro de dicionários

usuarios = {'João':{'Identificador':'0001','Cargo':'Porteiro','Salario':'2000'},
            'Maria':{'Identificador':'0003','Cargo':'Aux. Limpeza','Salario':'1900'},
            'José':{'Identificador':'0002','Cargo':'Técnico','Salario':'2500'}}
            
for i, j in usuarios.items():
  print(f'Funcionário: {i}')
  for k, l in j.items():
    print(f'\t {k} = {l}')

In [ ]:
# Removendo elementos de um dicionário por meio da função pop( )

dicionario1 = {'Nome':'Fernando', 'Idade':32, 'Sexo':'Masculino', 'Nacionalidade':'Brasileiro'}

dicionario1.pop('Nacionalidade')

'''
Mesmo que:
del dicionário1['Nacionalidade']
porém del é uma palavra reservada ao sistema
'''

print(dicionario1)

In [ ]:
# Usando do método get( ) para não gerar exceções quando um elemento não faz parte do dicionário

dict1 = {'1':'A', '2':'B', '3':'C'}

print(dict1['1'])   # ok
#print(dict1['4'])   # chave não existente, irá gerar um KeyError

dict1.get('4', 'nova chave') # '4' é um elemento não existe,te, será substituído por 'nova chave'
                             # caso instanciasse no primeiro parâmetro um elemento presente no 
                             # dicionário iria retornar o mesmo normalmente, caso for um elemento
                             # faltante já irá tratar a exceção normalmente, inserindo o novo dado

A

'nova chave'

## Funções

In [ ]:
# Sintaxe básica

def nome_da_funcao(parametros):
  "corpo da função"

In [ ]:
# Definindo uma função sem parâmetros

def exibe_mensagem():
  print('Seja Bem-Vindo!!!')
  # poderia ser, dependendo o contexto, return 'Seja Bem-Vindo!!!'

print(exibe_mensagem())

Seja Bem-Vindo!!!
None

In [ ]:
# Chamando a função

def mensagem():
  print('Seja Bem Vindo!!!')

mensagem()

In [ ]:
# Função associada a uma variável

def mensagem():
  print('Seja Bem Vindo!!!')

mensagem1 = mensagem()

print(mensagem1)

In [ ]:
# Criando uma função que temporariamente não faz nada

def funcao():
  pass

var1 = funcao()   # Não acontecerá absolutamente nada

print(type(var1))   # Retornará NoneType

<class 'NoneType'>

In [ ]:
# Função interagindo com variável que interage com o usuário

usuario3 = input('Digite o seu nome:')

def mensagem(nome):
  print(f'Bem Vindo {nome}!!!')

print(mensagem(usuario3))

Digite o seu nome:yutyu
Bem Vindo yutyu!!!
Bem Vindo yutyu!!!
None

In [ ]:
# Passando o parâmetro ao chamar a função

def funcao(msg):
  print(msg)
  
funcao('Bem Vindo!!!')

Bem Vindo!!!

In [ ]:
# Passando o parâmetro ao chamar a função = exemplo 2

def mensagem(nome):
  print(f'Bem Vindo(a) {nome}!!!')

usuario1 = mensagem('Fernando')

print(mensagem)

In [ ]:
# Passando mais de um parâmetro para uma função

def mensagem(nome, idade):
  print(f'{nome} tem {idade} anos...')

usuario1 = mensagem('Fernando', 33)   # respeitar a ordem dos parâmetros

print(usuario1)

In [ ]:
# Definindo parâmetros "padrão", para caso o usuário não passe nenhum parâmetro.

def funcao(msg, nome='usuário'):
  print(msg, nome)
  
funcao()

In [ ]:
# Passando apenas um parâmetro e recebendo o resto padrão

def funcao(msg='Olá', nome='usuário', msg2='Seja Bem Vindo!!!'):
  print(msg, nome, msg2)
  
funcao(nome='Fernando')

In [ ]:
# Passando parâmetro e interagindo com o usuário

def funcao(mensagem, nome):
  print(mensagem, nome)
  
funcao('Olá', input('Digite o seu nome: '))

Digite o seu nome: eu
Olá eu

In [ ]:
# Interagindo com o usuário #2

def funcao(msg='Ola', nome='usuário', msg2='Seja Bem Vindo!!!'):
  nome = input('Digite o seu nome: ')
  print(msg, nome, msg2)
  
variavel1 = funcao()

Digite o seu nome: euuuuuu
Ola euuuuuu Seja Bem Vindo!!!

In [ ]:
# Interagindo com o usuário #3

def funcao(msg='Ola', nome='usuário', msg2='Seja Bem Vindo!!!'):
  return f'{msg} {nome}, {msg2}'

variavel1 = funcao(nome=input('Digite o seu nome: '))

print(variavel1)

Digite o seu nome: Fernando
Ola Fernando, Seja Bem Vindo!!!

In [ ]:
# Passando um parâmetro manualmente e fora da ordem padrão do índice

def msg(nome = 'Ana', idade = 25, prof = 'Cozinheira'):
  print(f'{nome}, {idade} anos, {prof}')

variavel5 = msg(prof = 'Costureira')
# assim não foi preciso declarar os primeiros parâmetros até chegar na prof

print(msg)

In [ ]:
# Fazendo operações dentro de uma função

# o código:
n1 = int(input('Digite o Primeiro Número: '))
n2 = int(input('Digite o Segundo Número: '))

print(f'O resultado da soma é: {n1 + n2}')

Digite o Primeiro Número: 80
Digite o Segundo Número: 4
O resultado da soma é: 84

In [ ]:
# O exemplo anterior pode ser reescrito por:

def soma(n1, n2):
  return f'O resultado da soma é: {n1 + n2}'

n1 = int(input('Digite o Primeiro Número: '))
n2 = int(input('Digite o Segundo Número: '))

print(soma(n1, n2))

Digite o Primeiro Número:50
Digite o Segundo Número:90
O resultado da soma é: 140

In [ ]:
# O exemplo anterior pode ser reescrito por:

def soma(n1, n2):
  return n1 + n2

n1 = int(input('Digite o Primeiro Número: '))
n2 = int(input('Digite o Segundo Número: '))

print(f'O resultado da soma é: {soma(n1, n2)}')

Digite o Primeiro Número: 6
Digite o Segundo Número: 5
O resultado da soma é: 11

In [ ]:
# Fazendo operações compostas dentro de uma função

def aumento_percentual(valor, percentual):
  return (valor + (valor * percentual / 100))

num1 = int(input('Digite o valor: '))
num2 = int(input('Você deseja somar quantos % ? '))

calculo = aumento_percentual(num1, num2)

print(f'O valor final será: {calculo}')

print(f'O valor final será: {round(calculo, 2)} reais ')

print(f'O valor final será: R${calculo:.2f} reais.')

Digite o valor: 100
Você deseja somar quantos % ? 6
O valor final será: 106.0
O valor final será: 106.0 reais
O valor final será: R$106.00 reais.

In [ ]:
# Estruturas condicionais dentro de funções #1

def repetidor(msg):
  contador = 0
  while contador < 5:
    print(msg)
    contador += 1

print(repetidor(msg=input('Digite algo para ser repetido 5 vezes: ')))

Digite algo para ser repetido 5 vezes: 9
9
9
9
9
9
None

In [ ]:
# Estruturas condicionais dentro de funções #2

def divisao(n1, n2):
  if n1 == 0 or n2 == 0:
    return 'Operação Inválida'
  return n1 / n2

num1 = int(input('Digite o Primeiro Número:'))
num2 = int(input('Digite o Segundo Número:'))

print(f'O resultado da divisão é: {divisao(num1, num2)}')

Digite o Primeiro Número:9
Digite o Segundo Número:5
O resultado da divisão é: 1.8

In [ ]:
# Estruturas condicionais dentro de funções #3 - Exercício Fizz Buzz

def fizz_buzz(num):
  if num % 3 == 0 and num % 5 == 0:
    return f'FizzBuzz, {num} é divisível por 3 e por 5'
  if num % 5 == 0:
    return f'Buzz, {num} é divisível por 5'
  if num % 3 == 0:
    return f'Fizz, {num} é divisível por 3)'
  return num

print(fizz_buzz(num=int(input('Digite um Número: '))))

In [ ]:
# Função com argumentos externos

def funcao(*args):
  for v in args:
    print(v)
    
argumentos = (1, 2, 3, 'Paulo', 'Ana')

print(funcao(argumentos))

(1, 2, 3, 'Paulo', 'Ana')
None

In [ ]:
# Desempacotando uma lista para que os elementos dela virem argumentos da função

lista1 = ['nome', 'idade', 'sexo', 'nacionalidade']

def funcao(*args):
  print('Informações Necessárias:')
  print(args)
  
funcao(*lista1)

Informações Necessárias:
('nome', 'idade', 'sexo', 'nacionalidade')

In [ ]:
# Função com parâmetros baseados em *args e **kwargs

# Supondo que está cadastrando senhas e usuários em um sistema
def funcao(*args, **kwargs):
  print(args)
  print(kwargs)
  
senhas_padrao = [12345, 11111, 54321]

resultado = funcao(*senhas_padrao, usuario='user', administrador='admin')

print(resultado)

# senhas_padrao substituirá *args e o parametro nomeado aqui usuario substituirá **kwargs

(12345, 11111, 54321)
{'usuario': 'user', 'administrador': 'admin'}
None

In [ ]:
# Função com parâmetros baseados em *args e **kwargs

# Buscando dados do modelo anterior
def funcao(*args, **kwargs):
  nome = kwargs['usuario']
  nome2 = kwargs['administrador']
  senha1 = args[0]
  senha2 = args[1]
  
  print(f'O usuário padrão é: {nome}')
  print(f'O administrador é:{nome2}')
  print(f'A senha padrão é: {senha1}')
  print(f'A senha alternativa é: {senha2}')
  
senhas_padrao = [12345, 11111]

funcao(*senhas_padrao, usuario='user', administrador='admin')

# senhas_padrao substituirá *args e o parametro nomeado aqui usuario substituirá **kwargs

O usuário padrão é: user
O administrador é:admin
A senha padrão é: 12345
A senha alternativa é: 11111

In [ ]:
# Função que recebe outra função como parâmetro

def msg_boas_vindas():
  return 'Seja Muito Bem Vindo!!!'

def mestre(funcao):
  return funcao()

executa = mestre(msg_boas_vindas)

print(executa)

Seja Muito Bem Vindo!!!

## Expressões Lambda (Funções Anônimas)

In [ ]:
variavel1 = lambda num1, num2: num1 * num2

num1 = int(input('Digite um número:'))
num2 = int(input('Digite outro número:'))

print(num1)
print(num2)

print(variavel1(num1,num2))

## Escopo Global Vs Escopo Local

In [ ]:
variavel1 = 'Paulo'

def funcao1():
    print(f'Print da variável do escopo global: {variavel1}')
  
funcao1()



def funcao2():
  variavel2 = 'Maria'
  print(f'Print da variável do escopo local: {variavel2}')

funcao2()

In [ ]:
#  Modificando uma variável global de dentro de uma função

num1 = 100

print(f'Variável com seu valor inicial: {num1}')


def modificador():
    global num1
    num1 = 200
    print(f'Variável alterada dentro da função: {num1}')


modificador()


print(f'Variável atualizada pela função modificador: {num1}')

## Sets (Conjuntos)

In [ ]:
set1 = {1,2,3,4,5,6,7,8,9,0}

print(set1)
print(type(set1))

set2 = {1,2,3,4,5,6,7,8,9,0,9,9,9,9,5,6,7}
print(set2)

# A diferença de um set para um dicionário será que um set não tem aquele par de elementos chave:valor.
# Um set não tem índice e os elementos guardados dentro dele ficam em ordem aleatória.
# Um set não pode ter elementos duplicados

In [ ]:
# Criando um set via construtor

set1 = set()
set1.add('Ana')
set1.add(23)

print(set1)

set1.add(15.6)
set1.add('Maria')
set1.discard(23)

print(set1)

In [ ]:
# Convertendo lista para set para que sejam removidos os elementos duplicados

lista1 = [1,1,2,3,4,4,4,4,4,5,6,7,8,9,'Luiz', 'Maria', 'Carlos', 'Luiz']
print(lista1)

lista1 = set(lista1) # Transformando em set
print(lista1)

lista1 = list(lista1) # Transformando em lista novamente
print(lista1)

## List Comprehension

In [ ]:
# Fazendo operações com elementos de uma lista usando 'comprehension'

lista1 = [1,2,3,4,5,6]
lista2 = [i * 2 for i in lista1]

# Variável temporária i que percorre cada elemento da lista1 e multiplica por 2

print(lista1)
print(lista2)

In [ ]:
# Desmembrando uma string elemento por elemento

string = '12345678901234567890'
comprehension = [letra for letra in string]

print(comprehension)

In [ ]:
# Pegando partes de uma string

string = '123456789012345678905925249529562956243482649287529843482548258922'

print(string[0:10])
print(string[10:20])
print(string[20:30])

In [ ]:
# Trabalhando com partes de uma string

string = '01234567890123456789012345678901234567890123456789'
n = 10
comp = [i for i in range(0, len(string), n)]
# Separando a string de 10 em 10 de acordo com a variável n

print(comp)

comp2 = [(i, i + n) for i in range(0, len(string), n)]
# Verificando de quanto a quanto é esse intervalo

print(comp2)

comp3 = [string[i:i + n] for i in range(0, len(string), n)]
# Realizando o fatiamento de nossa string

print(comp3)

lista = [string[i:i + n] for i in range(0, len(string), n)]
retorno = '.'.join(lista)
# Caractere "." usado como separador. join( ) para juntar novamente os elementos da lista

print(retorno)

In [ ]:
# Aprimorando um código mudando sua função por uma list comprehension

carrinho = []
carrinho.append(('Item 1', 30))
carrinho.append(('Item 2', 45))
carrinho.append(('Item 3', 22))
total = 0

for produto in carrinho:
  total = total + produto[1]
  
print('Método tradicional', total)

# Mesmo que:
total2 = []
for produto in carrinho:
  total2.append(produto[1])
print('Usando funções internas', sum(total2))

# Usando list comprehension
total3 = sum([y for x, y in carrinho])

print('Usando list comprehension', total3)

## Dictionary Comprehension

In [ ]:
# Basicamente a mesma lógica de list comprehension, mas quando tempos chave:valor podemos transormar em dicionário.

lista = [('chave1','chave2'), ('chave2','valor2'),('chave3','valor3')]

dicionario = {x:y for x, y in lista}
# Mesmo que dicionario = dict(lista)

print(dicionario)

In [ ]:
# Realizando operações dentro do dicionário via comprehension

produtos = [('Caneta',1.99), ('Lápis',1.49), ('Caderno',8.99)]
produtos_com_imposto = {x:y * 1.6 for x, y in produtos}

print('Preços SEM Imposto: ', produtos)
print('Preços COM Imposto: ', produtos_com_imposto)

## Geradores e Iteradores

In [ ]:
# Um objeto iterável é aquele com que você consegue interagir com cada elemento de sua composição, ex cada letra de uma string

lista = [1,2,3,4]
nome = 'Fernando'

for i in lista:
  print(i)
  
for j in nome:
  print(j)

In [ ]:
# Gerador gera valores onde não existem para poupar tempo e codificação

lista_0_a_100 = list(range(101))

print(lista_0_a_100)

In [ ]:
# Porém dados gerados com muitos elementos tem impacto sobre a memória

import sys

lista100 = list(range(101))
listamilhao = list(range(1000001))

print('Tamanho em bytes:', sys.getsizeof(lista100))
print('Tamanho em bytes:', sys.getsizeof(listamilhao))

In [ ]:
# Guardando valores em uma variável, de forma que a cada vez que eu chame ela ela me retorne um valor diferente

import sys
import time

def variavel_iterada():
  variavel = 'Valor 1'
  yield variavel
  variavel = 'Valor 2'
  yield variavel
  variavel = 'Valor 3'
  yield variavel

var1 = variavel_iterada()

print(next(var1))
print(next(var1))
print(next(var1))

## Zip

In [ ]:
# Zip para iterar e unir duas listas

cidades = ['Porto Alegre', 'Curitiba', 'Salvador', 'Belo Horizonte']
estados = ['RS', 'PR', 'BH', 'MG']

cidades_estados = zip(cidades, estados)

for i in cidades_estados:
  print(i)

In [ ]:
# Zip_longest para unir listas de diferentes tamanhos

from itertools import zip_longest

cidades = ['Porto Alegre', 'Curitiba', 'Salvador', 'Belo Horizonte', 'Rio de Janeiro', 'Goiânia']
estados = ['RS', 'PR', 'BH', 'MG']

cidades_estados = zip_longest(cidades, estados)
cidades_estados2 = zip_longest(cidades, estados, fillvalue='Desconhecido')

for i in cidades_estados:
  print(i)

for j in cidades_estados2:
  print(j)

## Count

In [ ]:
# Usando o contador do sistema

from itertools import count
contador = count()

for numero in contador:
  print(numero)
  if numero >= 10:
    break

In [ ]:
# Contando dentro de um intervalo personalizado

from itertools import count
contador = count(start = 40)

for numero in contador:
  print(numero)
  if numero >= 50:
    break

In [ ]:
# Personalizando de quantos em quantos números o contador irá trabalhar

from itertools import count
contador = count(start = 0, step = 2)

for numero in contador:
  print(numero)
  if numero >= 20:
    break

##Map

In [ ]:
# Map = função que serve para aplicar uma função em cada elemento ou linha por linha de uma lista/tupla/dicionario

produtos = [
            {'nome': 'item 1', 'preco': 32},
            {'nome': 'item 2', 'preco': 23},
            {'nome': 'item 3', 'preco': 12},
            {'nome': 'item 4', 'preco': 10},
            {'nome': 'item 5', 'preco': 55},
]

lista = [1,2,3,4,5,6,7,8,9,10]

nova_lista = map(lambda x: x * 2, lista)

# Mesmo que:
nova_lista2 = [x * 2 for x in lista]

print(lista)
print(list(nova_lista))
print(nova_lista2)

In [ ]:
# Usando map( ) para extrair dados de um dicionário

produtos = [
            {'nome': 'item 1', 'preco': 32},
            {'nome': 'item 2', 'preco': 23},
            {'nome': 'item 3', 'preco': 12},
            {'nome': 'item 4', 'preco': 10},
            {'nome': 'item 5', 'preco': 55},
]

precos = map(lambda p: p['preco'], produtos)

for preco in precos:
  print(preco)

In [ ]:
# Usando uma função ativa no lugar da lambra (que é uma função vazia)

def aumenta_precos(p):
  p['preco'] = p['preco'] * 1.05
  return p

precos2 = map(aumenta_precos, produtos)

for produto in precos2:
  print(produto)

##Filter

In [ ]:
# Mesma coisa que a map, só que trabalha com lógica condicional, servindo para aplicar funções ou extrair informação de um elemento desde que uma condição seja True

pessoas = [
           {'nome': 'Ana', 'idade': 22},
           {'nome': 'Maria', 'idade': 72},
           {'nome': 'Paulo', 'idade': 55},
           {'nome': 'Pedro', 'idade': 68},
           {'nome': 'Rafael', 'idade': 99},
           {'nome': 'Tania', 'idade': 18},
]

idosos = filter(lambda x: x['idade'] > 70, pessoas)

print(list(idosos))

In [ ]:
produtos2 = [
            {'nome': 'item 1', 'preco': 32},
            {'nome': 'item 2', 'preco': 23},
            {'nome': 'item 3', 'preco': 62},
            {'nome': 'item 4', 'preco': 10},
            {'nome': 'item 5', 'preco': 55},
]

def filtra(p):
  if p['preco'] > 50:
    return True

nova_lista3 = filter(filtra, produtos2)
for produtox in nova_lista3:
  print(produtox)

## Reduce

In [ ]:
from functools import reduce

def soma(num1, num2):
  return num1 + num2

lista = [1,2,3,4,5,6,7,8,9,10]

resultado = reduce(soma, lista)

print(resultado)

## Try, Except

In [ ]:
# Tratando exceções para que não se interrompa a execução de um código

try:
  print(a)
except:
  pass
  
# Nesse caso nada acontecerá, mas também não acontecerá um erro ou interrupção em função de não conseguir imprimir o comando print(a).

In [ ]:
# Tratando exceções para que não se interrompa a execução de um código

try:
  print(a)
except:
  print('A Variável Não Existe!!!')

In [ ]:
# Exibindo que erro aconteceu

try:
  print(a)
except NameError as erro:
  print('Ocorreu um erro:',erro)

#Except genérico:
except Exception as erro:
  print('Ocorreu um erro inesperado')

## Bibliotecas, Módulos e Pacotes

In [ ]:
# Função dir( ) exibe quais módulos/pacotes/funções foram carregadas por padrão.

dir()

In [ ]:
# Explorando tudo o que vem importado por padrão no Python

import builtins

dir(builtins)

In [ ]:
# Importando módulos que por padrão não são carregados junto ao Python em sua inicialização

import random

dir()

# Agora random( ) está carregada na memória e pronta para uso

In [ ]:
# Verificando o que existe dentro de um módulo/pacote externo

dir(random)

# Todas linhas após '__spec__' são os nomes das funções da biblioteca random disponíveis para serem usadas.

In [ ]:
# Usando funções de um módulo/pacote externo

for i in range(10):
  print(random.randint(0,10))

In [ ]:
# Abreviando a nomenclatura de um módulo

import random as ra

for i in range(10):
  print(ra.randint(1,10))

In [ ]:
# Importando apenas uma função específica de um módulo

from random import randint

for i in range(10):
  print(randint(0,10))

Criando Módulos Manualmente

In [ ]:
# Arquivo soma.py

def soma(num1, num2):
    s = int(num1) + int(num2)
    return s

# Arquivo index.py

import soma

print(f'O resultado da soma é: {soma.soma(8,3)}')

## Manipulando arquivos

In [ ]:
# Abrindo/criando um arquivo para leitura e escrita

arquivo = open('nomedoarquivo.txt', 'w+')
# w+ permite a leitura e escrita

arquivo.write('Prineira Linha \n')
arquivo.write('Segunda Linha \n')
arquivo.write('Terceira Linha \n')
arquivo.write('Quarta Linha \n')

arquivo.close()

arquivo.seek(0,0) # força a leitura do arquivo desde sua posição 0

print(arquivo.read())
# print(arquivo.readline()) linha por linha

arquivo.close()

In [ ]:
# Apagando um arquivo via IDE

import os

os.remove('arquivo.txt')

## Programação Orientada a Objetos

In [ ]:
# Sintaxe básica

class Nome:
  objetos

In [ ]:
# Criando uma classe vazia

class Pessoa:
  pass

In [ ]:
# Criando objetos (atributos de classe) dentro de uma classe

class Pessoa:
  pass

pessoa1 = Pessoa()

pessoa1.nome = 'Fernando'
pessoa1.idade = 32

print(pessoa1.nome)

In [ ]:
# Criando funções (métodos de classe) dentro de uma classe

class Pessoa:
  def acao1(self):
    print('Ação 1 sendo executada...')

pessoa1 = Pessoa()

pessoa1.acao1()

In [ ]:
# Criando uma classe com método construtor e objetos internos

class Pessoa:
  def __init__(self, nome, idade, sexo, altura):
    self.nome = nome
    self.idade = idade
    self.sexo = sexo
    self.altura = altura

pessoa1 = Pessoa('Fernando', 32, 'M', 1.90)

print(pessoa1.nome, pessoa1.idade)
print(f'Bem vindo {pessoa1.nome}, parabéns pelos seus {pessoa1.idade} anos!!!')

In [ ]:
# Mais de um método de classe dentro de uma classe

class Pessoa:
  ano_atual = 2019

  def __init__(self, nome, idade):
    self.nome = nome
    self.idade = idade

  def ano_nascimento(self):
    ano_nasc = self.ano_atual - self.idade
    print(f'Seu ano de nascimento é {ano_nasc}')

pessoa1 = Pessoa('Fernando', 32)

print(pessoa1.ano_nascimento())

# Lembrando que nesse exemplo ano_atual é um atributo da classe, e está acessível a todas funções internas, já ano_nasc por exemplo é uma variável do escopo da função ano_nascimento(), e não está acessível fora dessa função. Funções dentro de classes podem receber a nomenclatura de "métodos" e seus atributos podem ser chamados de "instâncias".

In [ ]:
# Métodos de classe
# Métodos que até interagem com funções internas, mas retorna dados para o escopo global da classe

class Pessoa:
  ano_atual = 2020

  def __init__(self, nome, idade):
    self.nome = nome
    self.idade = idade

  @classmethod
  def ano_nasc(cls, nome, ano_nascimento):
    idade = cls.ano_atual - ano_nascimento
    return cls(nome, idade)

pessoa2 = Pessoa.ano_nasc('Fernando', 1987)

print(pessoa2.idade)

In [ ]:
# Métodos estáticos
# Aqueles que não possuem instâncias como atributos, funciona como uma função normal dentro da classe

from random import randint

class Pessoa:
  @staticmethod
  def gerador_id():
    gerador = randint(100, 999)
    return gerador

print(Pessoa.gerador_id())

In [ ]:
# @property, Getters e Setters

class Produto:
  def __init__(self, nome, preco):
    self.nome = nome
    self.preco = preco

  def desconto(self, percentual):
    self.preco = self.preco - (self.preco * (percentual / 100))
  
  #Getter
  @property
  def preco(self):
    return self._preco
  
  #Setter
  @preco.setter
  def preco(self, valor):
    if isinstance(valor, str):
      valor = float(valor.replace('R$', ''))

    self._preco = valor

produto1 = Produto('Camiseta', 99)
produto1.desconto(5)
print(produto1.preco)

# Supondo que o usuário passou um valor que não pode ser processado porque foi passado em tipo de dado incorreto
#    produto2 = Produto('Calça', 'R$59')
#    produto2.desconto(15)
#    print(produto2.preco)
# Irá gerar um erro pois R$59 não é um int, então é necessário criar uma estrutura de métodos que farão essa correção.

produto2 = Produto('Calça', 'R$59')
produto2.desconto(15)
print(f'Produto2 após aplicação do desconto terá valor de {produto2.preco}')

In [ ]:
# Atributos de classe // Variáveis de classe vão ser as variáveis que estarão declaradas dentro de uma classe, e que serão atribuídas a toda variável externa que instanciar essa classe.

class Classe1:
  var1 = 101001

variavel1 = Classe1()

print(Classe1.var1)
print(variavel1.var1)

In [ ]:
# Mudando um atributo de classe

class Classe1:
  var1 = 101001

variavel1 = Classe1()
Classe1.var1 = 111111

print(Classe1.var1)

In [ ]:
# Aplicação de Orientação a Objetos

class BaseDeDados:
  def __init__(self):
    self.base = {}
  
  def inserir(self, nome, fone):
    if 'clientes' not in self.base:
      self.base['clientes'] = {nome:fone}
    else:
      self.base['clientes'].update({nome:fone})
  
  def listar(self):
    for n, f in self.base['clientes'].items():
      print(n, f)
  
  def apagar(self, nome):
    del self.base['clientes'][nome]


clientes = BaseDeDados()

clientes.inserir('Ana', 991358899)
clientes.inserir('Fernando', 981357295)
clientes.inserir('Maria', 999891415)

#clientes.listar()

clientes.apagar('Ana')

clientes.listar()

Encapsulamento

In [ ]:
# Serve para definir se alguma função de alguma classe será acessível ou não fora dela.
# Muito pareceido com o public ou private em outras linguagens de programação.

class BaseDeDados:
  def __init__(self):
    self.dados = {}
    #self._dados = {} declarado como protegido (ainda acessível de fora da classe)
    #self.__dados = {} declarado como privado (inacessível e imutável de fora da classe)

base = BaseDeDados()

print(base.dados)

## Funções (Avançado)

Parâmetros em Justaposição e Parâmetros Nomeados

In [ ]:
# Parâmetros em Justaposição e Parâmetros Nomeados

# Justaposição = ordenados sequencialmente

#            1º    2º     3º
def pessoa1(nome, idade, funcao):
  print(f'{nome} tem {idade} anos, função: {funcao}')

p1 = pessoa1('Fernando', 32, funcao = 'gerente')

Função com número de parâmetros indefinido

In [ ]:
# Função com número de parâmetros indefinido

# *args - marcador para múltiplos parâmetros

def msg(nome, *args):
  print(f'{nome} = {args}')

ex1 = msg('Fernando')
ex2 = msg('Fernando', 'idade = 33', 'profissão = professor')

In [ ]:
def soma(*args):
  num = 0
  for valordigitado in args:
    num += valordigitado
  print(num)

soma = soma(14, 89)

Função com número de parâmetros indefinido, porém nomeados

In [ ]:
# **kwargs - marcador para parâmetros nomeados

def identificacao(**kwargs):
  print(kwargs)

pessoa1 = identificacao(nome = 'Fernando')
pessoa2 = identificacao(nome = 'Maria', idade = 33)
pessoa3 = identificacao(nome = 'Alberto', funcao = 'Tec. em Radiologia', salario = 1960.00)

Função que recebe parâmetros tanto por justaposição quanto nomeados

In [ ]:
# Função que recebe parâmetros tanto por justaposição quanto nomeados

def identificacao(*args, **kwargs):
  print(args, kwargs)

pessoa = identificacao('Fernando', idade = 33)

Empacotamento e desempacotamento

In [ ]:
# Criando uma função que recebe parâmetros tanto por justaposição quanto nomeados,
# a partir de uma lista e de um dicionário, desempacotando os elementos e reorganizando
# os mesmos na função:

numeros = (33, 1987, 2020, 19.90, 100000000)
dados = {'Nome':'Fernando', 'Profissão':'Engenheiro'}

def identificacao(*args, **kwargs):
  print(args)
  print(kwargs)

identificacao(*numeros, **dados)

## Recursividade

In [27]:
def fatorial(num):
  if num == 1:
    return 1
  
  return num * fatorial(num - 1)

fator = fatorial(5)
print(fator)

120

## Expressões Regulares

In [28]:
import re

minha_string = 'Fernando chegará a meia noite.'
print(re.findall(r'Fernand.', minha_string))

minha_string2 = 'Fernanda chegará a meia noite.'
print(re.findall(r'Fernand.', minha_string2))

['Fernando']
['Fernanda']

In [ ]:
minha_string = 'Fernando chegará a meia noite.'
print(re.findall(r'Fernando|Fernanda', minha_string))

In [ ]:
import re

# r'Strings

# Meta caractere " . "

texto1 = '''No dia trinta de março de dois mil e vinte
foi inaugurado o novo ginásio de esportes da escola
estatual Professor Annes Dias, na cidade de Cruz Alta,
no estado do Rio Grande do Sul. A obra inicialmente 
orçada em um milhão de, reais acabou não utilizando de
todo o recurso, uma vez que dois grandes empresários da 
cidade, João Fagundes e Maria Terres doaram juntos em 
torno de duzentos mil reais. João Fagundes se manifestou
dizendo que apoiou a obra pois acredita no desenvolvimento
da cidade, assim investe regularmente para hospitais e
escolas da mesma. maria Terres não quis se pronunciar 
sobre o assunto.'''

print(re.findall(r'.oão', texto1))
print(re.findall(r'.oão|.aria', texto1))

In [ ]:
# Meta caractere " | " significa "ou"
# | significa ou, e tem suporte a número de palavras ilimitadas

print(re.findall(r'.oão|.aria', texto1))
print(re.findall(r'.oão|.aria|mil', texto1))

In [ ]:
# Meta caractere " [] " significa "conjunto de caracteres"
# Usado para definir quais possíveis caracteres estarão numa determinada posição da string.

print(re.findall(r'[Jj]oão|.aria', texto1))
# Suponto que toos os caracteres possíveis no início de João são J maiúsculo e j minúsculo nesse caso também sabemos que os possíveis caracteres são J ou j, mas em outras strings precisaremos ampliar a abordagem

In [ ]:
# pode conter quantos possíveis caracteres forem necessarios
print(re.findall(r'[AaBbCcDdEeFfGgHhIiJj]oão', texto1))

# otimizado com um intervalo predefinido
print(re.findall(r'[a-z]oão|[A-Z]oão', texto1))
print(re.findall(r'[a-zA-Z]oão', texto1))

In [ ]:
# Alterando o comportamento de uma expressão regular via flags

print(re.findall(r'jOãO|maRIA', texto1, flags = re.I))
# flags serve para passar uma instrução local, nesse caso, re.I significa ignore case (não diferenciar letras maiúsculas de minúsculas)

In [ ]:
# Meta caracteres quantificadores

# * significa 0 ou ilimitado número de vezes
# + significa 1 ou ilimitado número de vezes
# ? significa 0 ou 1, apenas uma vez
# {} significa um número específico ou um intervalo específico de repetições {8} ou {0,15}

mensagem = 'Nãããããããããããooooooo esquecer de pagar a mensalidade, não deixar para depois'

print(re.findall(r'não', mensagem, flags = re.I))

print(re.findall(r'Nã+o', mensagem))
# o operador + ao lado de ã diz que esse caractere ali naquela posição pode se repetir uma ou mais vezes

print(re.findall(r'Nã+o+', mensagem))

print(re.findall(r'[Nn]ã+o+', mensagem))

print(re.findall(r'nã+o+', mensagem, flags = re.I))

In [ ]:
# Meta caracteres aplicados a um intervalo de caracteres de uma expressão regular
#[A-Za-z0-9]+ significa que vai permitir qualquer caractere, quantas vezes o mesmo estiver repetido

chamando_nome = 'Fernnnnnnnannnnndo'

print(re.findall(r'fer[a-z]+a[Nn]+do', chamando_nome, flags = re.I))

In [ ]:
# Substituindo um elemento de uma string via expressão regular

texto1 = '''No dia trinta de março de dois mil e vinte
foi inaugurado o novo ginásio de esportes da escola
estatual Professor Annes Dias, na cidade de Cruz Alta,
no estado do Rio Grande do Sul. A obra inicialmente 
orçada em um milhão de, reais acabou não utilizando de
todo o recurso, uma vez que dois grandes empresários da 
cidade, João Fagundes e Maria Terres doaram juntos em 
torno de duzentos mil reais. João Fagundes se manifestou
dizendo que apoiou a obra pois acredita no desenvolvimento
da cidade, assim investe regularmente para hospitais e
escolas da mesma. maria Terres não quis se pronunciar 
sobre o assunto.'''

print(re.sub(r'jOãO', 'Carlos', texto1, flags = re.I))

In [ ]:
minha_string = 'Fernando chegará a meia noite.'

print(re.match(r'Fernando', minha_string))

print(re.match(r'noite', minha_string))

In [ ]:
minha_string2 = 'Fernando chegará, a meia noite.'

print(re.split(r',', minha_string2))

## List Comprehension (Avançado)

Gerando uma nova lista via comprehension

In [ ]:
lista1 = [1,2,3,4,5,6]

for i in lista1:
  print(i * 2)

#print(lista1)

lista2 = [i * 2 for i in lista1]

# Variável temporária i que percorre cada elemento da lista1 e multiplica por 2

print(lista2)

Desmembrando uma string elemento por elemento

In [ ]:
string = '1234567890'
comprehension = [letra for letra in string]

print(comprehension)

In [ ]:
string = '123456789012345678905925249529562'

print(string[0:10])

print(string[10:20])

print(string[20:30])

In [ ]:
string = '012345678901234567890123456789012'
n = 10

comp = [i for i in range(0, len(string), n)]
# Separando a string de 10 em 10 de acordo com a variável n

print(comp)

comp2 = [(i, i + n) for i in range(0, len(string), n)]
# Verificando de quanto a quanto é esse intervalo

print(comp2)

comp3 = [string[i:i + n] for i in range(0, len(string), n)]
# Realizando o fatiamento de nossa string

print(comp3)

lista = [string[i:i + n] for i in range(0, len(string), n)]
retorno = '.'.join(lista)
# Caractere "." usado como separador. join( ) para juntar novamente os elementos da lista

print(retorno)

Otimizando código via list comprehension

In [ ]:
carrinho = []
carrinho.append(('Item 1', 30))
carrinho.append(('Item 2', 45))
carrinho.append(('Item 3', 22))
total = 0

for produto in carrinho:
  total = total + produto[1]
  
print('Método tradicional', total)

# Mesmo que:
total2 = []
for produto in carrinho:
  total2.append(produto[1])
print('Usando funções internas', sum(total2))

# Usando list comprehension
total3 = sum([y for x, y in carrinho])

print('Usando list comprehension', total3)

## Dictionary Comprehension

Gerando um dicionário via comprehension

In [ ]:
# Basicamente a mesma lógica de list comprehension, mas quando tempos chave:valor podemos transormar em dicionário

lista = [('chave1','chave2'), ('chave2','valor2'),('chave3','valor3')]

dicionario = {x:y for x, y in lista}
dicionario2 = dict(lista)

print(dicionario)

print(dicionario2)

Operações dentro do dicionário via comprehension

In [ ]:
produtos = [('Caneta',1.99), ('Lápis',1.49), ('Caderno',8.99)]

produtos_com_imposto = {x:y * 1.6 for x, y in produtos}

print('Preços SEM Imposto: ', produtos)

print('Preços COM Imposto: ', produtos_com_imposto)

# Expressões Ternárias

In [ ]:
# Parecido com o "comprehension", mas iterando sobre estruturas condicionais e sobre expressões booleanas

num = 2

'Positivo' if num >= 0 else 'Negativo'

# Geradores e Iteradores

In [ ]:
# Um objeto iterável é aquele com que você consegue interagir com cada elemento de sua composição,
# ex cada letra de uma string...

minha_lista = [1,2,3,4]
minha_lista = iter(minha_lista)

print(hasattr(minha_lista, '__iter__'))

for i in minha_lista:
  print(i)

In [ ]:
# Gerador gera valores onde não existem para poupar tempo e codificação

lista_0_a_100 = list(range(101))

print(lista_0_a_100)

In [ ]:
# Porém dados gerados com muitos elementos tem impacto sobre a memória

import sys

lista_manual = list([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14])
lista_gerada = list(range(14))

listamilhao = list(range(1000001))

print('Tamanho em bytes:', sys.getsizeof(lista_manual))

print('Tamanho em bytes:', sys.getsizeof(lista_gerada))

print('Tamanho em bytes:', sys.getsizeof(listamilhao))

In [ ]:
# Guardando valores em uma variável, de forma que a cada vez que eu chame ela ela me retorne um valor diferente

import sys

def gera_numero():
  num = 0
  while True:
    yield num
    num += 1

gerador = gera_numero()

print(next(gerador))

print(next(gerador))
print(next(gerador))
print(next(gerador))
print(next(gerador))

# Map, Filter, Reduce + List Comprehension

In [ ]:
estoque = [
    {'Item01': 'Camisa Nike', 'Preco':39.90},
    {'Item02': 'Camisa Adidas', 'Preco':37.90},
    {'Item03': 'Moletom 00', 'Preco':79.90},
    {'Item04': 'Calca Jeans', 'Preco': 69.90},
    {'Item05': 'Tenis AllStar', 'Preco': 59.90}
]

# Método convencional para extrair dados

precos01 = []
for preco in estoque:
    precos01.append(preco['Preco'])

print(f'Preços de estoque (normal) {precos01}')

In [ ]:
# Extraindo dados via Map + Função Lambda

estoque = [
    {'Item01': 'Camisa Nike', 'Preco':39.90},
    {'Item02': 'Camisa Adidas', 'Preco':37.90},
    {'Item03': 'Moletom 00', 'Preco':79.90},
    {'Item04': 'Calca Jeans', 'Preco': 69.90},
    {'Item05': 'Tenis AllStar', 'Preco': 59.90}
]

precos02 = list(map(lambda p: p['Preco'], estoque))

print(f'Preços de estoque (Map + Lambda) {precos02}')

In [ ]:
# Extraindo dados via List Comprehension

estoque = [
    {'Item01': 'Camisa Nike', 'Preco':39.90},
    {'Item02': 'Camisa Adidas', 'Preco':37.90},
    {'Item03': 'Moletom 00', 'Preco':79.90},
    {'Item04': 'Calca Jeans', 'Preco': 69.90},
    {'Item05': 'Tenis AllStar', 'Preco': 59.90}
]

precos03 = [preco['Preco'] for preco in estoque]

print(f'Preços de estoque (List Comprehension) {precos03}')

In [ ]:
# Extraindo dados via Filter

estoque = [
    {'Item01': 'Camisa Nike', 'Preco':39.90},
    {'Item02': 'Camisa Adidas', 'Preco':37.90},
    {'Item03': 'Moletom 00', 'Preco':79.90},
    {'Item04': 'Calca Jeans', 'Preco': 69.90},
    {'Item05': 'Tenis AllStar', 'Preco': 59.90}
]

precos04 = list(filter(lambda p: p['Preco'] >= 60, estoque))
#precisa especificar um parâmetro a ser filtrado

print(f'Preços de estoque (Filter) {precos04}')

In [ ]:
# Combinando Filter e List Comprehension

estoque = [
    {'Item01': 'Camisa Nike', 'Preco':39.90},
    {'Item02': 'Camisa Adidas', 'Preco':37.90},
    {'Item03': 'Moletom 00', 'Preco':79.90},
    {'Item04': 'Calca Jeans', 'Preco': 69.90},
    {'Item05': 'Tenis AllStar', 'Preco': 59.90}
]

precos05 = [preco['Preco'] for preco in estoque if preco['Preco'] > 60]
#filtrados somente precos maiores que 60

print(f'Preços de estoque (Filter + List Comprehension) {precos05}')

In [ ]:
# Combinando Map e Filter para extrair um dado

estoque = [
    {'Item01': 'Camisa Nike', 'Preco':39.90},
    {'Item02': 'Camisa Adidas', 'Preco':37.90},
    {'Item03': 'Moletom 00', 'Preco':79.90},
    {'Item04': 'Calca Jeans', 'Preco': 69.90},
    {'Item05': 'Tenis AllStar', 'Preco': 59.90}
]

precos06 = list(map(lambda p: p['Preco'],
                    filter(lambda p: p['Preco'], estoque)))

print(f'Preços de estoque (Map + Filter) {precos06}')

In [ ]:
# Extraindo dados via Reduce

estoque = [
    {'Item01': 'Camisa Nike', 'Preco':39.90},
    {'Item02': 'Camisa Adidas', 'Preco':37.90},
    {'Item03': 'Moletom 00', 'Preco':79.90},
    {'Item04': 'Calca Jeans', 'Preco': 69.90},
    {'Item05': 'Tenis AllStar', 'Preco': 59.90}
]

from functools import reduce
def func_reduce(soma, valores):
    return soma + valores['Preco']
precos_total = reduce(func_reduce, estoque, 0)

print(f'Soma dos Preços (Reduce) {precos_total}')

In [ ]:
# Extraindo dados via Reduce + List Comprehension

estoque = [
    {'Item01': 'Camisa Nike', 'Preco':39.90},
    {'Item02': 'Camisa Adidas', 'Preco':37.90},
    {'Item03': 'Moletom 00', 'Preco':79.90},
    {'Item04': 'Calca Jeans', 'Preco': 69.90},
    {'Item05': 'Tenis AllStar', 'Preco': 59.90}
]

from functools import reduce
precos_total = reduce(lambda soma, valores: soma + valores['Preco'], estoque, 0)

print(f'Soma dos Preços (Reduce + List Comprehension) {precos_total}')

In [ ]:
# Extraindo dados via Reduce (Método Otimizado)

estoque = [
    {'Item01': 'Camisa Nike', 'Preco':39.90},
    {'Item02': 'Camisa Adidas', 'Preco':37.90},
    {'Item03': 'Moletom 00', 'Preco':79.90},
    {'Item04': 'Calca Jeans', 'Preco': 69.90},
    {'Item05': 'Tenis AllStar', 'Preco': 59.90}
]

from functools import reduce
precos_total = sum([preco['Preco'] for preco in estoque])

print(f'Soma dos Preços (Reduce Método Otimizado) {precos_total}')

## Try, Except, Raise (Avançado)

In [ ]:
# Tratando exceções para que não se interrompa a execução de um código

try:
  print(abc)
except:
  print('Não foi possível exibir o conteúdo de "a"')
  
# Nesse caso nada acontecerá, mas também não acontecerá um erro ou interrupção em função de não conseguir imprimir o comando print(a).

In [ ]:
#Except genérico

try:
  print(abc)
except Exception as erro:
  print('Ocorreu um erro inesperado')

In [ ]:
# Exibindo que erro específico aconteceu

try:
  print(abc)
except NameError as erro:
  print('Ocorreu um erro:', erro)

Try e Except como condicional, servindo para prever exceções geradas pelo usuário

In [ ]:
def conversor_num(num):
  try:
    num = int(num) # tentará converter para int
    return num
  except ValueError:
    try:
      num = float(num) # tentará converter para float
      return num
    except ValueError:
      pass # caso não consiga nenhuma opção anterior irá retornar None

num1 = conversor_num(input('Digite um número: '))

if num1 is not None:
  print(num1 + 100)
else:
  print('Operação inválida.')

In [ ]:
def conversor_num(num):
  try:
    num = int(num)
    return num
  except:
    num = float(num)
    return num
  finally:
    print('Você digitou um caractere que não pode ser convertido')

num1 = conversor_num(input('Digite um número: '))

Raise

In [ ]:
idade = int(input('Digite sua idade: '))

if idade <= 0:
  raise Exception('Idade inválida!!!')

print(f'Você tem {idade} anos!!!')

# Será gerado um erro Exception: Idade inválida!!!

## if __name__ == '__main__'

In [ ]:
# arquivo soma.py
def soma_num(num1, num2):
    return num1 + num2

#print(__name__) # irá retornar __main__
#print(soma_num(9, 4))

if __name__ == '__main__':
    print(soma_num(9, 4))
    print('Teste de validação')
    # esse é um código de teste, se eu executar este arquivo, esse resultado será impresso,
    # quando esse arquivo for importado como módulo para outro arquivo, esse arquivo deixará
    # de ter o __name__ igual a __main__ e passará a ter o __name__ igual a soma, então, esse
    # código de teste não será executado

# arquivo meuprograma.py
import soma

num1 = int(input('Digite um número: '))
num2 = int(input('Digite outro número: '))
resultado = soma.soma_num(num1, num2)

print(resultado)
# irá retornar soma porque o módulo passa a ter o nome do próprio arquivo quando importado
print(__name__)
# irá retornar __main__

## Módulos nativos do Python

Datetime

In [ ]:
#import datetime

from datetime import datetime, date, time

data = datetime(2020, 6, 12, 15, 24, 59)
# Por justaposição, os parâmetros estarão como:
# ano, mês, dia, hora, minuto, segundo

print(data.date())
print(data.time())

print(data.year)
print(data.month)
print(data.day)

print(data.hour)
print(data.minute)
print(data.second)

In [ ]:
# Datetime como string

print(data.strftime('%m/%d/%Y %H:%M'))

'''
%Y - Ano com 4 dígitos
%y - Ano com 2 dígitos
%m - Mês com 2 dígitos
%d - Dia com 2 dígitos
%w - Dia da semana (entre 0 (domingo) e 6 (sábado))
%H - Hora com notação de 24 horas
%h - Hora com notação de 12 horas
%M - Minuto com 2 dígitos
%S - Segundos com 2 dígitos
%W - Semana do ano (entre 00 e 53)
%z - Fuso horário'''

In [ ]:
# Convertendo uma string em datetime

data2 = datetime.strptime('20200101', '%Y%m%d')

print(data2)

In [ ]:
# Substituindo um valor de datetime

data3 = datetime(2020, 6, 12, 15, 24, 59)
#data3.year = 2001 # retorna um erro porque o datetime inicial é imutavel

data3 = data3.replace(year = 2001)

print(data3)

In [ ]:
# Diferença entre dois datetimes

data2 = datetime.strptime('20200101', '%Y%m%d')
data3 = datetime(2020, 6, 12, 15, 24, 59)

delta = data3 - data2

print(delta)

## Combinações, Permutações e Produto (Itertools)

In [ ]:
# Combinações

from itertools import combinations

lista10 = ['Ana', 'Bianca', 'Carla', 'Daniela', 'Franciele', 'Maria']

for combinacoes in combinations(lista10, 2):# possíveis combinações em grupos de 2
  print(combinacoes)

# a ordem não importa e não haverão combinações repetidas entre os elementos

In [ ]:
# Permutações

from itertools import permutations

lista10 = ['Ana', 'Bianca', 'Carla', 'Daniela', 'Franciele', 'Maria']

for combinacoes in permutations(lista10, 2): # possíveis combinações em grupos de 2
  print(combinacoes)

# Neste caso, as combinações podem se repetir, alterando a ordem dos elementos
# Ex: Ana e Bianca, Bianca e Ana...

In [ ]:
# Product

from itertools import product

lista10 = ['Ana', 'Bianca', 'Carla', 'Daniela', 'Franciele', 'Maria']

for combinacoes in product(lista10, repeat = 2): # possíveis combinações em grupos de 2
  print(combinacoes)

# Parecido com Permutations, mas aqui é permitido que um elemento se combine com ele mesmo

# Programação Orientada a Objetos (Avançado)

In [ ]:
# Associação de Classes

class Usuario:
    def __init__(self, nome):
        self.__nome = nome
        self.__logar = None
    @property
    def nome(self):
        return self.__nome
    @property
    def logar(self):
        return self.__logar
    @logar.setter
    def logar(self, logar):
        self.__logar = logar

class Identificador:
    def __init__(self, numero):
        self.__numero = numero
    @property
    def numero(self):
        return self.__numero
    def logar(self):
        print('Logando no sistema...')

usuario1 = Usuario('Fernando')
identificador1 = Identificador('0001')

usuario1.logar = identificador1
usuario1.logar.logar()

In [ ]:
# Agregação e Composição de Classes

class Contato:
    def __init__(self, residencial, celular):
        self.residencial = residencial
        self.celular = celular

class Cliente:
    def __init__(self, nome, idade, fone=None):
        self.nome = nome
        self.idade = idade
        self.fone = []

    def addFone(self, residencial, celular):
        self.fone.append(Contato(residencial, celular))
    def listaFone(self):
        for fone in self.fone:
            print(fone.residencial, fone.celular)

cliente1 = Cliente('Fernando', 32)
cliente1.addFone(33221766, 991357258)

print(cliente1.nome)

print(cliente1.listaFone())

In [ ]:
# Herança Simples

class Corsa:
    def __init__(self, nome, ano):
        self.nome = nome
        self.ano = ano

class Gol:
    def __init__(self, nome, ano):
        self.nome = nome
        self.ano = ano

class Carro:
    def __init__(self, nome, ano):
        self.nome = nome
        self.ano = ano

class Corsa(Carro):
    pass

class Gol(Carro):
    pass

In [ ]:
# Cadeia de Heranças

class Carro:
    def __init__(self, nome, ano):
        self.nome = nome
        self.ano = ano

class Gasolina(Carro):
    def __init__(self, tipogasolina=True, tipoalcool=False):
        self.tipogasolina = tipogasolina
        self.tipoalcool = tipoalcool

class Jeep(Gasolina):
    pass

In [ ]:
# Mesmo que

class Jeep:
    def carro():
        def __init__(self, nome, ano):
            self.nome = nome
            self.ano = ano

    def gasolina(self, tipogasolina=True, tipoalcool=False):
        self.tipogasolina = tipogasolina
        self.tipoalcool = tipoalcool

jeep = Jeep()

In [ ]:
# Código otimizado

class Carro:
    def __init__(self, nome, ano):
        self.nome = nome
        self.ano = ano

class Gasolina(Carro):
    def __init__(self, tipogasolina=True, tipoalcool=False):
        self.tipogasolina = tipogasolina
        self.tipoalcool = tipoalcool

class Jeep(Gasolina):
    pass

carro1 = Jeep()

print(carro1.tipogasolina)

In [ ]:
# Herança Múltipla

class Mercadoria:
    def __init__(self, nome, preco):
        self.nome = nome
        self.preco = preco

class Carnes(Mercadoria):
    def __init__(self, tipo, peso):
        self.tipo = tipo
        self.peso = peso

class Utensilios:
    def __init__(self, espetos, carvao):
        self.espetos = espetos
        self.carvao = carvao

class KitChurrasco(Carnes, Utensilios):
    pass

pacote1 = KitChurrasco('carne', 14.90)
pacote1.tipo = 'costela'
pacote1.peso = 1
pacote1.espetos = 1
pacote1.carvao = 1

In [ ]:
# Sobreposição de Membros

class Pessoa:
    def __init__(self, nome):
        self.nome = nome
    
    def Acao1(self):
        print(f'{self.nome} está dormindo')

class Jogador1(Pessoa):
    def Acao2(self):
        print(f'{self.nome} está comendo')

class SaveJogador1(Jogador1):
    pass

p1 = SaveJogador1('Fernando')
print(p1.nome)

p1.Acao1()
p1.Acao2()

In [ ]:
class Pessoa:
    def __init__(self, nome):
        self.nome = nome
    
    def Acao1(self):
        print(f'{self.nome} está dormindo')

class Jogador1(Pessoa):
    def Acao2(self):
        print(f'{self.nome} está comendo')

class SaveJogador1(Jogador1):
    def Acao1(self):
        super().Acao1()
        print(f'{self.nome} está acordado')

p1 = SaveJogador1('Fernando')
p1.Acao1()
p1.Acao2()

Sobreposição via super(  )

In [ ]:
class SaveJogador1(Jogador1):
    def Acao1(self):
        super().Acao1()
        print(f'{self.nome} está acordado')

In [ ]:
class Pessoa:
    def acao(self):
        print('Inicializando o sistema')

class Acao1(Pessoa):
    def acao(self):
        print('Sistema pronto para uso')

class Acao2(Pessoa):
    def acao(self):
        print('Desligando o sistema')

class SaveJogador1(Acao2, Acao1):
    pass

p1 = SaveJogador1()
p1.acao()

In [ ]:
# Classes Abstratas

from abc import ABC, abstractclassmethod

class Pessoa(ABC):
    @abstractclassmethod
    def logar(self):
        pass

class Usuario(Pessoa):
    def logar(self):
        print('Usuario logado no sistema')

#user1 = Pessoa()
#user1.logar()

user1 = Usuario()
user1.logar()

In [ ]:
# Polimorfismo

from abc import ABC, abstractclassmethod

class Pessoa(ABC):
    @abstractclassmethod
    def logar(self, chaveseguranca):
        pass

class Usuario(Pessoa):
    def logar(self, chaveseguranca):
        print('Usuario logado no sistema')

class Bot(Pessoa):
    def logar(self, chaveseguranca):
        print('Sistema rodando em segundo plano')

user1 = Usuario()
user1.logar('I5m8b4y9')

In [ ]:
# Sobrecarga de Operadores

class Caixa:
    def __init__(self, largura, altura):
        self.largura = largura
        self.altura = altura

caixa1 = Caixa(10,10)
caixa2 = Caixa(10,20)

print(caixa1 + caixa2)

In [ ]:
class Caixa:
    def __init__(self, largura, altura):
        self.largura = largura
        self.altura = altura
    
    def __add__(self, other):
        largura1 = self.largura + other.largura
        altura1 = self.altura + other.altura
        return Caixa(largura1, altura1)

    def __repr__(self):
        return f"<class 'Caixa({self.largura}, {self.altura})'>"

caixa1 = Caixa(10,10)
caixa2 = Caixa(10,20)
caixa3 = caixa1 + caixa2

print(caixa3)

Gerenciamento de Filas (Nodes)

In [ ]:
# Gerenciamento de filas via Nodes

from typing import Any

EMPTY_NODE_VALUE = '__EMPTY_NODE_VALUE__'

class Erro(Exception):
  ...

class Node:
  def __init__(self, value: Any) -> None:
    self.value = value
    self.next = Node
  
  def __repr__(self) -> str:
    return f'{self.value}'

  def __bool__(self) -> bool:
    return bool(self.value != EMPTY_NODE_VALUE)

class Queue:
  def __init__(self) -> None:
    self.first: Node = Node(EMPTY_NODE_VALUE)
    self.last: Node = Node(EMPTY_NODE_VALUE)
    self._count = 0

  def enqueue(self, node_value: Any) -> None:
    novo_node = Node(node_value)

    if not self.first:
      self.first = novo_node
    if not self.last:
      self.last = novo_node
    else:
      self.last.next = novo_node
      self.last = novo_node
    self._count += 1
  
  def pop(self) -> Node: 
    if not self.first:
      raise Erro('Sem elementos na fila')
    first = self.first

    if hasattr(self.first, 'next'):
      self.first = self.first.next
    else:
      self.first = Node(EMPTY_NODE_VALUE)
    self._count += 1
    return first
  
  def peek(self) -> Node:
    return self.first
  
  def __len__(self) -> int:
    return - self._count
  
  def __bool__(self) -> bool:
    return bool(self._count)

  def __iter__(self) -> Queue:
    return self

  def __next__(self) -> Any:
    try:
      next_value = self.pop()
      return next_value
    except Erro:
      raise StopIteration

fila1 = Queue()
fila1.enqueue('Maria')
fila1.enqueue('Carlos')
fila1.pop()

In [ ]:
# Gerenciamento de filas via Deque

from typing import Deque, Any
from collections import deque

fila2: Deque[Any] = deque()

fila2.append('Ana')
fila2.append('Carlos')
fila2.append('Fernando')
fila2.append('Maria')

for pessoas in fila2:
  print(pessoas)

fila2.popleft()

for pessoas in fila2:
  print(pessoas)

# Deque trabalha com índices, sendo assim, ao tentar remover um elemento que não consta no índice 0, será gerado um erro

In [ ]:
valor_final = 10
contador = 0

while contador <= valor_final:
  print(contador)
  contador += 1

# Banco de Dados SQLite

In [ ]:
import sqlite3

In [ ]:
# Criando uma conexão persistente

conexao = sqlite3.connect('base.db')
cursor = conexao.cursor()

In [ ]:
# Criando uma tabela com campos personalizados

cursor.execute('CREATE TABLE IF NOT EXISTS usuarios ('
               'id INTEGER PRIMARY KEY AUTOINCREMENT,'
               'nome TEXT,'
               'peso REAL'
               ')')

In [ ]:
# Inserindo dados/registros na base

cursor.execute('INSERT INTO usuarios (nome, peso) VALUES ("Fernando Feltrin", 130.5)') # método comum, não seguro

#cursor.execute('INSERT INTO usuarios (nome, peso) VALUES (?, ?)', ('Fernando Feltrin', 130.5)) # Dados repassados via tupla com justaposição de argumentos
#cursor.execute('INSERT INTO usuarios (nome, peso) VALUES (:nome, :peso)', {'nome':'Fernando Feltrin', 'peso':130.5}) # via dicionário com justaposição
#cursor.execute('INSERT INTO clientes VALUES (id:, :nome, :peso)', {'id': None, 'nome':'Fernando Feltrin', 'peso':130.5}) # Via dicionário com justaposição, método reduzido

conexao.commit()

In [ ]:
# Atualizando dados

cursor.execute('UPDATE usuarios SET nome=:nome WHERE id=:id',
               {'nome':'Mariana Veiga', 'id':2}
               )
conexao.commit()

In [ ]:
# Excluindo registros existentes

cursor.execute('DELETE FROM usuarios WHERE id=:id',
               {'id':3}
               )
conexao.commit()

In [ ]:
# Visualizando o conteúdo da base de dados

cursor.execute('SELECT * FROM usuarios')
for linha in cursor.fetchall():
    num, nome, peso = linha # desempacotando os dados em variáveis
    print(f'Identificador: {num}, Nome: {nome}, Peso: {peso}')
    #print(linha)

In [ ]:
# Buscando registros específicos

cursor.execute('SELECT nome FROM usuarios WHERE peso > 100')
for linha in cursor.fetchall():
    nome = linha
    print(nome)

In [ ]:
# Encerrando os trabalhos na base de dados

cursor.close()
conexao.close()